@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Outfit:wght@300;400;500&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Outfit:wght@300;400;500&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin:0;
    font-family: 'Lexend Deca', sans-serif;
    color:var(--white);
}
img{
    max-inline-size: 100%;
    block-size: auto;
}
:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --Verylightgray: hsl(0, 0%, 95%);/*background, headings, buttons*/
    --white: rgb(255, 255, 255);
}
main{
    width:250px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: Big Shoulders Display;
    margin-top: 20px;
}
p{
    font-size: 0.8rem;
    width: 200px;
    margin-top: 20px;
    line-height: 25px;
    opacity:0.8;
}
button{
    margin-top: 20px;
    height:35px;
    width: 100px;
    border-style: none;
    border-radius: 30px;
    color:var(--Brightorange);
}
.sedan_card{
    background-color: var(--Brightorange);
    height: 300px;
    border-radius:7px 7px 0 0;
}
.suv_card{
    background-color: var(--Darkcyan);
    height: 300px;
}
.luxury_card{
    background-color: var(--Verydarkcyan);
    height: 300px;
    border-radius:0 0 7px 7px;
}
.card{
    padding:30px;
}
.sedan_button:hover{
    color:white;
    background-color: var(--Brightorange);
    border-style:groove;
    border-color: var(--white);
}
.suv_button{
    color:var(--Darkcyan);
}
.suv_button:hover{
    color:white;
    background-color: var(--Darkcyan);
    border-style:groove;
    border-color: var(--white);
}
.luxury_button{
    color:var(--Verydarkcyan);
}
.luxury_button:hover{
    color:white;
    background-color: var(--Verydarkcyan);
    border-style:groove;
    border-color: var(--white);
}